* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

#vantaNet {
  position: absolute;
  display: block;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 40px 100px;
  z-index: 100000;
  transition: 0.6s;
}
header .logo {
  position: relative;
  font-weight: 700;
  color: white;
  text-decoration: none;
  font-size: 1.3em;
  letter-spacing: 2px;
  transition: 0.6s;
}
header .logo:after {
  content: "clicking this leads to nowhere";
  font-weight: 100;
  font-size: 0.2em;
  text-align: center;
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
header .logo:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
header #infoicon {
  position: relative;
  cursor: pointer;
  color: white;
  transition: 0.2s;
}
header #infoicon:hover {
  position: relative;
  cursor: pointer;
  color: orange;
}

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  align-items: center;
}
.banner .container {
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}

.content {
  width: 55%;
}
.content #intro span {
  color: orange;
  font-size: 1.2em;
}
.content #greeting {
  color: white;
  font-size: 5.2em;
  transform: translateX(-4px);
}
.content #intro {
  color: white;
  font-size: 2em;
}
.content p {
  font-size: 1.2em;
  color: #d8d8d8;
  font-weight: 300;
  padding-top: 20px;
  padding-bottom: 20px;
}
.content .contact {
  position: relative;
  padding-top: 15px;
  display: block;
}
.content .media {
  padding-top: 15px;
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 35%;
}
.content .media a {
  background-color: transparent;
  padding: 0;
}
.content .media i {
  color: white;
  transition: 0.5s;
}
.content .media i:hover {
  color: orange;
}

#learn {
  font-weight: 600;
  font-size: 1em;
  position: relative;
  color: white;
}
#learn #learn span {
  font-weight: 600;
  font-size: 1em;
  color: white;
}

.zdog-canvas {
  left: 7%;
  position: relative;
  vertical-align: middle;
  cursor: grab;
}

footer {
  text-align: right;
  font-size: 0.2em;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.397);
  padding-right: 100px;
  padding-bottom: 20px;
}

/* Responsive */
/*
Todo:
    1. fid a way to have vanta cover the full screen
    2. better accessibility for buttons
*/
@media only screen and (max-width: 800px) {
  .content {
    width: 100%;
  }

  .media {
    padding-top: 15px;
    position: relative;
    display: flex;
    justify-content: space-around;
    max-width: 100%;
  }

  .banner {
    background-color: #292929;
  }
}

/*# sourceMappingURL=main.css.map */
