$my-orange: #EE964B;

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

#vantaNet {
  position: relative;
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.banner {
  grid-area: main;
  font-family: 'Poppins', sans-serif; 
  position: relative;
  width: 85%;
  min-height: 100vh;
  margin: auto;
  grid-template-areas:
    'header'
    'main'
    'footer';
  
  
  header {
    grid-area: header;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
    z-index: 100000;
    transition: 0.6s;
    
    .logo {
      position: relative;
      font-weight: 700;
      color: white;
      text-decoration: none;
      font-size: 1.3em;
      letter-spacing: 2px;
      transition: 0.6s; 
      opacity: 0; // Gsap
    }
    
    #infoicon {
      padding-top: 5px;
      position: relative;
      color: white;
      transition: 0.5s; 
      opacity: 0; // Gsap
    }
    
    #infoicon:hover {
      cursor: pointer;
      color: $my-orange; }
  }


  .container {
    grid-area: 'main';
    position: relative;
    display: flex;
    justify-content: left;
    flex-wrap: wrap; 
    
    .content {
      //width: 55%; // DESKTOP
    
    #greeting {
      font-family: 'Roboto Mono';
      color: white;
      font-size: 5.2em;
      transform: translateX(-4px); }
    
    #intro {
      color: white;
      font-size: 2em; 
      opacity: 0; //GSAP
    
      span {
        color: $my-orange;
        font-size: 1.2em; }
    }
    
    #information {
      font-size: 1em;
      line-height: 1.5;
      color: rgba(255, 255, 255, 0.767);
      font-weight: 300;
      padding-top: 10px;
      padding-bottom: 20px; 
      opacity: 0; //GSAP
      }
    
    .contact {
      font-family: 'Roboto Mono';
      position: relative;
      padding-top: 15px;
      display: block; 
    
      #learn {
        font-weight: 600;
        font-size: 1em;
        position: relative;
        color: white; 
        opacity: 0; //GSAP
      
        #learn span {
          font-weight: 600;
          font-size: 1em;
          color: white; }
      }
  
      .media {
        padding-top: 15px;
        position: relative;
        display: flex;
        justify-content: space-between;
        max-width: 200px;
  
        #item1, #item2, #item3, #item4 {
          opacity: 0; //GSAP
        }
      
        a {
            background-color: transparent;
            padding: 0; }
        
        i {
            color: white;
            transition: 0.5s; }
        
        i:hover {
            color: $my-orange; }
      }
    }
  }


    .zdog-container {
      display: flex;
      flex-grow: 1;
      justify-content: center;
      // opacity: 0; // GSAP

      .zdog-canvas {
        position: relative;
        vertical-align: middle;
        cursor: move; 
        cursor: grab;
        transition: 0.3s;
      }

      .zdog-canvas:active {
        cursor: grabbing;
      }
    }
  }


  .copyright-footer {
    grid-area: 'footer';
    position: absolute;
    text-align: center; // DESKTOP RIGHT
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    font-size: 0.5em;
    padding-bottom: 20px;
    opacity: 0; // GSAP
  }
}


@media (min-width: 950px) {
  .banner {
    grid-area: unset !important;
    display: flex;
    align-items: center;

    header {
      position: absolute;
    }

    .container {
      align-items: center;

      .content {
        width: 55%;
      }
    }

    .copyright-footer {
      text-align: right;
    }
  }
  
  

}