* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  overflow-x: hidden;
  cursor: none;
}

body {
  background-color: #121520;
}

.banner {
  font-family: "Poppins", sans-serif;
  position: relative;
  width: 85%;
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-flow: column;
}
.banner header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 25px;
  z-index: 99;
  transition: 0.6s;
  overflow: visible;
  height: 35px;
}
.banner header .logo {
  margin: 0;
  padding: 0;
  width: 45px;
  height: 42px;
  position: relative;
  transition: 0.6s;
  opacity: 0;
}
.banner header #infoicon {
  padding-top: 5px;
  position: relative;
  color: white;
  transition: 0.3s;
  font-size: 1.4em !important;
  opacity: 0;
  cursor: none;
}
.banner header #infoicon:hover {
  color: #EE964B;
}
.banner .container {
  position: relative;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}
.banner .container .content #greeting {
  font-family: "Roboto Mono";
  color: white;
  font-size: 4.8em;
  transform: translateX(-3px);
}
.banner .container .content #intro {
  color: white;
  font-size: 2em;
  opacity: 0;
}
.banner .container .content #intro #name {
  color: #EE964B;
}
.banner .container .content #information {
  font-size: 1;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.767);
  font-weight: 300;
  padding-top: 10px;
  padding-bottom: 20px;
}
.banner .container .content #information #p1, .banner .container .content #information #p2, .banner .container .content #information #p3 {
  opacity: 0;
}
.banner .container .content .contact {
  font-family: "Roboto Mono";
  position: relative;
  display: block;
}
.banner .container .content .contact #learn {
  font-weight: 600;
  font-size: 1em;
  position: relative;
  color: white;
  opacity: 0;
}
.banner .container .content .contact #learn #learn span {
  font-weight: 600;
  font-size: 1em;
  color: white;
}
.banner .container .content .contact .media {
  padding-top: 15px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 300px;
  overflow: hidden;
}
.banner .container .content .contact .media .resume-button {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  outline-offset: 4px;
  transition: filter 250ms;
  overflow: visible;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.banner .container .content .contact .media .resume-button .shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  background: rgba(0, 0, 0, 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}
.banner .container .content .contact .media .resume-button .edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  background: linear-gradient(to left, #522600 0%, #a34c00 8%, #a34c00 92%, #522600 100%);
}
.banner .container .content .contact .media .resume-button .front {
  font-family: "Roboto Mono";
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  display: block;
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  font-size: 1rem;
  color: white;
  background: #ee9649;
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}
.banner .container .content .contact .media .resume-button:hover {
  filter: brightness(110%);
}
.banner .container .content .contact .media .resume-button:hover .front {
  transform: translateY(-6px);
  cursor: none;
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
.banner .container .content .contact .media .resume-button:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}
.banner .container .content .contact .media .resume-button:hover .shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
.banner .container .content .contact .media .resume-button:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}
.banner .container .content .contact .media .resume-button:focus:not(:focus-visible) {
  outline: none;
}
.banner .container .content .contact .media #item1, .banner .container .content .contact .media #item2, .banner .container .content .contact .media #item3, .banner .container .content .contact .media #item4, .banner .container .content .contact .media #item5 {
  font-size: 1.8em !important;
  opacity: 0;
  overflow: visible;
  transition: 0.5s;
}
.banner .container .content .contact .media #item1:hover i, .banner .container .content .contact .media #item2:hover i, .banner .container .content .contact .media #item3:hover i, .banner .container .content .contact .media #item4:hover i, .banner .container .content .contact .media #item5:hover i {
  color: #EE964B;
  cursor: none;
}
.banner .container .content .contact .media a {
  background-color: transparent;
  padding: 0;
  overflow: visible;
}
.banner .container .content .contact .media i {
  color: white;
  transition: 0.5s;
  overflow: visible;
}
.banner .container .zdog-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  opacity: 0;
  position: relative;
  padding-top: 20px;
}
.banner .container .zdog-container .zdog-canvas {
  vertical-align: middle;
  transition: 0.3s;
}
.banner .copyright-footer {
  cursor: default;
  color: rgba(255, 255, 255, 0.329);
  position: relative;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  font-size: 0.5em;
  padding-top: 40px;
  padding-bottom: 20px;
  font-family: "Roboto Mono";
  opacity: 0;
}
.banner .copyright-footer #grit {
  transition: 0.3s;
  color: inherit;
  text-decoration: none;
}
.banner .copyright-footer #grit:hover {
  color: #EE964B;
  cursor: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  opacity: 0;
}
.modal .modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 30px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 0.5em;
}
.modal .modal-content .modal-header {
  font-family: "Roboto Mono";
  padding-bottom: 15px;
}
.modal .modal-content .modal-header h2 {
  text-transform: uppercase;
  font-size: 2.3em;
  font-weight: 600;
  color: #EE964B;
}
.modal .modal-content p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  line-height: 1.4;
}
.modal .modal-content a {
  text-decoration: none;
  color: #113dac;
  font-weight: 500;
}
.modal .modal-content a:hover {
  text-decoration: underline;
}
.modal .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.modal .close:hover, .modal .close:focus {
  color: black;
  text-decoration: none;
}

.cursor {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 2px solid #cc2255;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 1000;
  opacity: 0;
}

.cursor2 {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: white;
  opacity: 0;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width 0.2s, height 0.2s, opacity 0.1s;
  z-index: 1000;
}

.hover {
  border: 3.5px solid #EE964B;
  width: 50px;
  height: 50px;
}

.inner-hover {
  width: 22px;
  height: 22px;
}

.cursor-click {
  width: 35px;
  height: 35px;
  opacity: 0.5;
}

.overlay {
  z-index: 10000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
}

@media (min-width: 1100px) {
  .modal-content {
    width: 65% !important;
  }

  .banner header {
    padding-bottom: 0;
  }
  .banner .container {
    align-items: center;
    flex: 1;
  }
  .banner .container .content {
    width: 55%;
  }
  .banner .container .zdog-container {
    padding: 0;
    pointer-events: inherit;
  }
  .banner .copyright-footer {
    text-align: right;
    padding-top: 0;
  }
}
@media (max-width: 800px) {
  .zdog-container {
    pointer-events: none;
  }

  .cursor {
    display: none;
  }

  .cursor2 {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
