$my-orange: #EE964B;
$my-blue: #15203C;
$myopacity: 0; // For testing

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  overflow-x: hidden;
}

body {
  background-color: rgb(18, 21, 32);
}

.banner {
  font-family: 'Poppins', sans-serif; 
  position: relative;
  width: 85%;
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-flow: column;
  
  
  header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 25px;
    z-index: 99;
    transition: 0.6s;
    overflow: visible;
    height: 35px;
    
    .logo {
      margin: 0;
      padding: 0;
      width: 45px;
      height: 42px;
      position: relative;
      transition: 0.6s; 
      opacity: $myopacity; // GSAP
    }
    

    #infoicon {
      padding-top: 5px;
      position: relative;
      color: white;
      transition: 0.3s; 
      font-size: 1.4em !important;
      opacity: $myopacity; // GSAP

      &:hover {
        cursor: pointer;
        color: $my-orange; 
      }
    }
  }


  .container {
    position: relative;
    display: flex;
    justify-content: left;
    flex-wrap: wrap; 
    
    .content {
      #greeting {
        font-family: 'Roboto Mono';
        color: white;
        font-size: 4.8em;
        transform: translateX(-3px); }
      
      #intro {
        color: white;
        font-size: 2em; 
        opacity: $myopacity; //GSAP
    
      #name {
        color: $my-orange;}
    }
    
    #information {
      font-size: 1em;
      line-height: 1.5;
      color: rgba(255, 255, 255, 0.767);
      font-weight: 300;
      padding-top: 10px;
      padding-bottom: 20px; 
      
      #p1, #p2, #p3 {
        opacity: $myopacity; //GSAP
      }
      }
    
    .contact {
      font-family: 'Roboto Mono';
      position: relative;
      display: block; 
    
      #learn {
        font-weight: 600;
        font-size: 1em;
        position: relative;
        color: white; 
        opacity: $myopacity; //GSAP
      
        #learn span {
          font-weight: 600;
          font-size: 1em;
          color: white; }
      }
  
      .media {
        padding-top: 15px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 300px;

        .resume-button {
          transform: translateY(-5px);
          text-align: center;
          font-family: 'Roboto Mono';
          cursor: pointer;
          font-size: 15px;
          border-radius: 4px;
          background-color:$my-orange;
          color: white;
          border: none;
          padding: 8px;
          width: 100px;
          transition: all 0.5s;
        }

        #item1, #item2, #item3, #item4, #item5 {
          font-size: 1.8em !important;
          opacity: $myopacity; //GSAP
          transition: 0.5s;
        }


        div {
          transition: 0.5s; 
          &:hover  i {
            color: $my-orange;
          }  
        }
      
        a {
            background-color: transparent;
            padding: 0; 
          }
        
        i {
            color: white;
        }
      
      }
    }
  }


    .zdog-container {
      display: flex;
      flex-grow: 1;
      justify-content: center;
      opacity: $myopacity; // GSAP
      position: relative;
      padding-top: 20px;

      .zdog-canvas {
        vertical-align: middle;
        cursor: move; 
        cursor: grab;
        transition: 0.3s;
      }

      .zdog-canvas:active {
        cursor: grabbing;
      }
    }
  }


  .copyright-footer {
    cursor: default;
    color: rgba(255, 255, 255, 0.329);
    grid-area: 'footer';
    position: relative;
    text-align: center; // DESKTOP RIGHT
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    font-size: 0.5em;
    padding-bottom: 20px;
    padding-top: 40px;
    font-family: 'Roboto Mono';
    opacity: $myopacity; // GSAP


    #grit {
      transition: 0.3s;
      color: inherit;
      text-decoration: none;

      &:hover {
        color: $my-orange;
        cursor: pointer;
      }
    }

  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  overflow: auto; 
  background-color: rgba(0,0,0,0.6);
  justify-content: center;
  opacity: $myopacity; // GSAP

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 30px;
    border: 1px solid #888;
    width: 80%; // desktop 65%
    border-radius: 0.5em;

    .modal-header {
      font-family: "Roboto Mono";
      padding-bottom: 15px;

      h2 {
        text-transform: uppercase;
        font-size: 2.3em;
        font-weight: 600;
        color: $my-orange;        
      }
    }

    p {
      font-family: 'Poppins', sans-serif;
      font-weight: 300;
      font-size: 1.2em;
      line-height: 1.4;
    }

    a {
      text-decoration: none;
      color: $my-blue;
      font-weight: 500;
    }
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;

    &:hover,
    &:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

@media (min-width: 1100px) {
  .modal-content {
    background-color: red;
    width: 65% !important;
  }
  
  .banner {
    .container {
      align-items: center;
      flex: 1;

      .content {
        width: 55%;
      }

      .zdog-container {
        padding: 0;
      }
    }

    .copyright-footer {
      text-align: right;
    }
  }
}

.pushable {
  background: hsl(340deg 100% 32%);
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}
.front {
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: hsl(345deg 100% 47%);
  color: white;
  transform: translateY(-6px);
}

.pushable:active .front {
  transform: translateY(-2px);
}