$my-orange: #EE964B;
$myopacity: 0; // For testing

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

#vantaNet {
  position: relative;
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

#overlay {
  background-color: rgb(18, 21, 32);
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}


.banner {
  font-family: 'Poppins', sans-serif; 
  position: relative;
  width: 85%;
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-flow: column;
  
  
  header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 25px;
    z-index: 100000;
    transition: 0.6s;
    
    .logo {
      position: relative;
      font-weight: 700;
      color: white;
      text-decoration: none;
      font-size: 1.3em;
      letter-spacing: 2px;
      transition: 0.6s; 
      opacity: $myopacity; // GSAP
    }
    
    #infoicon {
      padding-top: 5px;
      position: relative;
      color: white;
      transition: 0.3s; 
      opacity: $myopacity; // GSAP
      font-size: 1.2em !important;

      &:hover {
        cursor: pointer;
        color: $my-orange; 
      }
    }
  }


  .container {
    position: relative;
    display: flex;
    justify-content: left;
    flex-wrap: wrap; 
    
    .content {
      #greeting {
        font-family: 'Roboto Mono';
        color: white;
        font-size: 4.8em;
        transform: translateX(-3px); }
      
      #intro {
        color: white;
        font-size: 2em; 
        opacity: $myopacity; //GSAP
    
      #name {
        color: $my-orange;}
    }
    
    #information {
      font-size: 1em;
      line-height: 1.5;
      color: rgba(255, 255, 255, 0.767);
      font-weight: 300;
      padding-top: 10px;
      padding-bottom: 20px; 
      opacity: $myopacity; //GSAP
      }
    
    .contact {
      font-family: 'Roboto Mono';
      position: relative;
      padding-top: 15px;
      display: block; 
    
      #learn {
        font-weight: 600;
        font-size: 1em;
        position: relative;
        color: white; 
        opacity: $myopacity; //GSAP
      
        #learn span {
          font-weight: 600;
          font-size: 1em;
          color: white; }
      }
  
      .media {
        padding-top: 15px;
        position: relative;
        display: flex;
        justify-content: space-between;
        max-width: 230px;
  
        #item1, #item2, #item3, #item4, #item5 {
          font-size: 1.8em !important;
          opacity: $myopacity; //GSAP
          transition: 0.5s;
        }

        // &:hover > div{
        //   opacity: 0.6 !important;
        // }
        // & div:hover {
        //   opacity: 1 !important;
        // }

      
        a {
            background-color: transparent;
            padding: 0; }
        
        i {
            color: white;
            transition: 0.5s; 
          
            &:hover {
              color: $my-orange;
            }  
        }
      
      }
    }
  }


    .zdog-container {
      display: flex;
      flex-grow: 1;
      justify-content: center;
      opacity: $myopacity; // GSAP

      .zdog-canvas {
        position: relative;
        vertical-align: middle;
        cursor: move; 
        cursor: grab;
        transition: 0.3s;
      }

      .zdog-canvas:active {
        cursor: grabbing;
      }
    }
  }


  .copyright-footer {
    cursor: default;
    color: rgba(255, 255, 255, 0.329);
    grid-area: 'footer';
    position: relative;
    text-align: center; // DESKTOP RIGHT
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    font-size: 0.5em;
    padding-bottom: 20px;
    padding-top: 40px;
    font-family: 'Roboto Mono';
    opacity: $myopacity; // GSAP


    #grit {
      transition: 0.3s;

      &:hover {
        color: $my-orange;
      }
    }

  }
}


@media (min-width: 950px) {
  .banner {
    .container {
      align-items: center;
      flex: 1;

      .content {
        width: 55%;
      }
    }

    .copyright-footer {
      text-align: right;
    }
  }
}