* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

#vantaNet {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  z-index: -1000;
}

#overlay {
  background-color: #121520;
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

.banner {
  font-family: "Poppins", sans-serif;
  position: relative;
  width: 85%;
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-flow: column;
}
.banner header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 25px;
  z-index: 100000;
  transition: 0.6s;
  overflow: visible;
  height: 35px;
}
.banner header .logo {
  margin: 0;
  padding: 0;
  width: 45px;
  height: 42px;
  position: relative;
  transition: 0.6s;
  opacity: 0;
}
.banner header .header-right {
  opacity: 0;
  display: flex;
  justify-content: space-between;
  width: 120px;
}
.banner header .header-right .toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  box-sizing: border-box;
}
.banner header .header-right .toggle .checkbox {
  opacity: 0;
  position: absolute;
}
.banner header .header-right .toggle .checkbox:checked + .label .ball {
  transform: translateX(28px);
}
.banner header .header-right .toggle .label {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  height: 22px;
  width: 50px;
}
.banner header .header-right .toggle .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  height: 22px;
  width: 22px;
  transition: transform 0.2s linear;
  cursor: pointer;
}
.banner header .header-right .toggle .fa-water {
  color: white;
  padding-right: 2px;
}
.banner header .header-right .toggle .fa-cog {
  color: white;
  padding-left: 2px;
}
.banner header .header-right #infoicon {
  padding-top: 5px;
  position: relative;
  color: white;
  transition: 0.3s;
  font-size: 1.4em !important;
}
.banner header .header-right #infoicon:hover {
  cursor: pointer;
  color: #EE964B;
}
.banner .container {
  position: relative;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}
.banner .container .content #greeting {
  font-family: "Roboto Mono";
  color: white;
  font-size: 4.8em;
  transform: translateX(-3px);
}
.banner .container .content #intro {
  color: white;
  font-size: 2em;
  opacity: 0;
}
.banner .container .content #intro #name {
  color: #EE964B;
}
.banner .container .content #information {
  font-size: 1em;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.767);
  font-weight: 300;
  padding-top: 10px;
  padding-bottom: 20px;
  opacity: 0;
}
.banner .container .content .contact {
  font-family: "Roboto Mono";
  position: relative;
  display: block;
}
.banner .container .content .contact #learn {
  font-weight: 600;
  font-size: 1em;
  position: relative;
  color: white;
  opacity: 0;
}
.banner .container .content .contact #learn #learn span {
  font-weight: 600;
  font-size: 1em;
  color: white;
}
.banner .container .content .contact .media {
  padding-top: 15px;
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 230px;
}
.banner .container .content .contact .media #item1, .banner .container .content .contact .media #item2, .banner .container .content .contact .media #item3, .banner .container .content .contact .media #item4, .banner .container .content .contact .media #item5 {
  font-size: 1.8em !important;
  opacity: 0;
  transition: 0.5s;
}
.banner .container .content .contact .media div {
  transition: 0.5s;
}
.banner .container .content .contact .media div:hover i {
  color: #EE964B;
}
.banner .container .content .contact .media a {
  background-color: transparent;
  padding: 0;
}
.banner .container .content .contact .media i {
  color: white;
}
.banner .container .zdog-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  opacity: 0;
  position: relative;
  padding-top: 20px;
}
.banner .container .zdog-container .zdog-canvas {
  vertical-align: middle;
  cursor: move;
  cursor: grab;
  transition: 0.3s;
}
.banner .container .zdog-container .zdog-canvas:active {
  cursor: grabbing;
}
.banner .copyright-footer {
  cursor: default;
  color: rgba(255, 255, 255, 0.329);
  grid-area: "footer";
  position: relative;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  font-size: 0.5em;
  padding-bottom: 20px;
  padding-top: 40px;
  font-family: "Roboto Mono";
  opacity: 0;
}
.banner .copyright-footer #grit {
  transition: 0.3s;
  color: inherit;
  text-decoration: none;
}
.banner .copyright-footer #grit:hover {
  color: #EE964B;
  cursor: pointer;
}

@media (min-width: 1200px) {
  .banner .container {
    align-items: center;
    flex: 1;
  }
  .banner .container .content {
    width: 55%;
  }
  .banner .container .zdog-container {
    padding: 0;
  }
  .banner .copyright-footer {
    text-align: right;
  }
}

/*# sourceMappingURL=main.css.map */
