* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  overflow-x: hidden;
}

body {
  background-color: #15203C;
}

#overlay {
  background-color: #121520;
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

.banner {
  font-family: "Poppins", sans-serif;
  position: relative;
  width: 85%;
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-flow: column;
}
.banner header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 25px;
  z-index: 99;
  transition: 0.6s;
  overflow: visible;
  height: 35px;
}
.banner header .logo {
  margin: 0;
  padding: 0;
  width: 45px;
  height: 42px;
  position: relative;
  transition: 0.6s;
  opacity: 0;
}
.banner header #infoicon {
  padding-top: 5px;
  position: relative;
  color: white;
  transition: 0.3s;
  font-size: 1.4em !important;
  opacity: 0;
}
.banner header #infoicon:hover {
  cursor: pointer;
  color: #EE964B;
}
.banner .container {
  position: relative;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}
.banner .container .content #greeting {
  font-family: "Roboto Mono";
  color: white;
  font-size: 4.8em;
  transform: translateX(-3px);
}
.banner .container .content #intro {
  color: white;
  font-size: 2em;
  opacity: 0;
}
.banner .container .content #intro #name {
  color: #EE964B;
}
.banner .container .content #information {
  font-size: 1em;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.767);
  font-weight: 300;
  padding-top: 10px;
  padding-bottom: 20px;
  opacity: 0;
}
.banner .container .content .contact {
  font-family: "Roboto Mono";
  position: relative;
  display: block;
}
.banner .container .content .contact #learn {
  font-weight: 600;
  font-size: 1em;
  position: relative;
  color: white;
  opacity: 0;
}
.banner .container .content .contact #learn #learn span {
  font-weight: 600;
  font-size: 1em;
  color: white;
}
.banner .container .content .contact .media {
  padding-top: 15px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 300px;
}
.banner .container .content .contact .media .resume-button {
  transform: translateY(-5px);
  text-align: center;
  font-family: "Roboto Mono";
  cursor: pointer;
  font-size: 15px;
  border-radius: 4px;
  background-color: #EE964B;
  color: white;
  border: none;
  padding: 8px;
  width: 100px;
  transition: all 0.5s;
}
.banner .container .content .contact .media #item1, .banner .container .content .contact .media #item2, .banner .container .content .contact .media #item3, .banner .container .content .contact .media #item4, .banner .container .content .contact .media #item5 {
  font-size: 1.8em !important;
  opacity: 0;
  transition: 0.5s;
}
.banner .container .content .contact .media div {
  transition: 0.5s;
}
.banner .container .content .contact .media div:hover i {
  color: #EE964B;
}
.banner .container .content .contact .media a {
  background-color: transparent;
  padding: 0;
}
.banner .container .content .contact .media i {
  color: white;
}
.banner .container .zdog-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  opacity: 0;
  position: relative;
  padding-top: 20px;
}
.banner .container .zdog-container .zdog-canvas {
  vertical-align: middle;
  cursor: move;
  cursor: grab;
  transition: 0.3s;
}
.banner .container .zdog-container .zdog-canvas:active {
  cursor: grabbing;
}
.banner .copyright-footer {
  cursor: default;
  color: rgba(255, 255, 255, 0.329);
  grid-area: "footer";
  position: relative;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  font-size: 0.5em;
  padding-bottom: 20px;
  padding-top: 40px;
  font-family: "Roboto Mono";
  opacity: 0;
}
.banner .copyright-footer #grit {
  transition: 0.3s;
  color: inherit;
  text-decoration: none;
}
.banner .copyright-footer #grit:hover {
  color: #EE964B;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
}
.modal .modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 30px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 0.5em;
}
.modal .modal-content .modal-header {
  font-family: "Roboto Mono";
  padding-bottom: 15px;
}
.modal .modal-content .modal-header h2 {
  text-transform: uppercase;
  font-size: 2.3em;
  font-weight: 600;
  color: #EE964B;
}
.modal .modal-content p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  line-height: 1.4;
}
.modal .modal-content a {
  text-decoration: none;
  color: #15203C;
  font-weight: 500;
}
.modal .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.modal .close:hover, .modal .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 1200px) {
  .modal-content {
    background-color: red;
    width: 65% !important;
  }

  .banner .container {
    align-items: center;
    flex: 1;
  }
  .banner .container .content {
    width: 55%;
  }
  .banner .container .zdog-container {
    padding: 0;
  }
  .banner .copyright-footer {
    text-align: right;
  }
}

/*# sourceMappingURL=main.css.map */
